// Define defaults for each variable.

// Fonts
$font-family-base: 'Lato', -apple-system, system-ui, Roboto, Helvetica, Arial, sans-serif !default;
$font-family-heading: 'Nexa Slab', -apple-system, system-ui, Roboto, Helvetica, Arial, sans-serif !default;

$font-size-base:    1.25rem !default;
$font-size-small:   1rem !default;
$font-size-h1:      2.06rem !default;
$font-size-h2:      1.625rem !default;
$font-size-xxxl:    6.875rem !default;

$font-weight-base:  400;

$line-height-base:  $font-size-base * 1.42 !default;
$line-height-small: $font-size-small * 1.20 !default;
$line-height-h1:    $font-size-h1 * 1.20 !default;
$line-height-h2:    $font-size-h2 * 1.20 !default;
$line-height-xxxl:  $font-size-xxxl * 1.40 !default;


// Grid
$gutter:            30px !default;

$width-content:     66.666vw;
$width-device:      800px;
$width-copy:        674px;
$width-copy-sidebar: 45%;
$width-icon-menu:   30px;


// Colors
$color-background:  #ffffff;
$color-base:        #f0f0f0;
$color-text:        #333333;

$color-primary:     #d149d8 ;
$color-secondary:   #522eca ;
$color-tertiary:    #e28f1d;

$color-link-base:        $color-primary;
$color-link-hover:       $color-secondary;
$color-link-visited:     lighten($color-primary, .6);

$color-border-01:   darken($color-base, .75);
$color-border-02:   $color-text;

// Tables
$table-text-align:       left;
$table-color:           $color-text;
$table-border:          $color-border-01;
$table-bg-zebra:        $color-base;
$table-header-bg:       darken($color-base, .9);
$table-header-border:   darken($color-base, .9);
