@use '../abstracts' as *;

// Nexa Slab 

@font-face {
font-family: 'Nexa Slab';
src: url('fonts/NexaSlab/Fontfabric-NexaSlab-Bold.otf') format('opentype'),
      url('fonts/NexaSlab/Fontfabric-NexaSlab-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}


// Lato

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// Headings and titles

h1, .h1, .site-title, .text-icon {
  font-family: $font-family-heading;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

h2, .h2 {
  font-family: $font-family-heading;
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

.mim-theme .site-title {
  @include media-query-max($width-device) {
    font-size: $font-size-h2;
    line-height: $line-height-h2 ;
    align-self: center;
    position: absolute;
  }

  .site-title__link {
    @include text-gradient;

    color: $color-text;
    display: inline-block;
    animation: text-animation-rev 0.75s ease forwards;

    &:hover {
      animation: text-animation 0.75s ease forwards;
      color: inherit;
      text-decoration: none ;
    }
  }
}

.mim-theme .home {
  font-size: $font-size-xxxl;
  line-height: $line-height-xxxl;
}
